*{
  padding: 0;
  margin: 0;
}
.card{
  align-self: normal;
}
.card-img{
  margin: 40px;
}
.card .crd{
  width: 200px;
  height: 200px;
}

.container{
  width: 1100px;
  max-width: 100%;
  margin: 0 auto;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 30px;
}
header .logo{
  color: balck;
  text-decoration: none;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 30px;
  padding: 0;
  margin: 0;
}
.links a:hover{
  color: #FFD814;
}
.search-nav{
  border-radius: 4px;
}
.search-nav input{
  padding: 10px 10px;
  width: 500px;
  border: 0;
  margin-right: 0;
}
.search-nav button{
  padding: 10px;
  border: 0;
  background-color: white;
  color: rgb(10, 10, 10);
  margin-left: 10px;
}
.search-nav{
  display: flex;
  justify-content: center;
  margin: 15px;
}
header a{
  color: black;
  text-decoration: none;
  justify-content: flex-end;
  padding: 15px;
  font-weight: 700;
  margin-top: 16px;
  font-size: 20px;
}
header .addet{
  position: relative;
  display: inline-block;
}
header .counter{
  position:absolute;
  width: 22px;
  height: 22px;
  top: 1px;
  right:2px;
  text-align: center;
  border-radius: 11px;
  font-size: 14px;
  background-color: yellow;
  color: black;
}
main {
  margin-bottom: 42px;
}

footer {
  background-color: #161616;
  color: #AAAAAA;
  height: 74px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  font-weight: 500;
}
.red{
  color: #EC8B5E;
  padding: 120px;
  text-align: center;
  font-size: 35px;
  font-weight: 800;
}
a{
  text-decoration: none;
}
.card-productdetail{
  /* max-width: 540px; */
  display: flex;
}
.card-content{
  padding: 50px;
}
.card-content h4{
  font-size: 30px;
}
.parag-desc{
  font-weight: bold;
}
/* .card-content button{

  background-color: #FFD814;
} */
.card-title{
  font-size: 16px;
}
.card-body p{
  font-size: 20px;
  font-weight: bold;
}
.card-content span{
  display: block;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
}
.search-nav select{
  padding: 1px;
  border: 0;
  margin-left: 0;
}
/* start icon x */
.fa-x{
  position: absolute;
  top: 130px;
  right: 380px;
}
.input-container {
  position: relative;
  display: inline-block;
}
.input-container i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  cursor: pointer;
}
/* add to cart strat here */
.connt .number{
  padding: 5px 15px;
  width: 40px;
  border-radius: 10px;;
  background-color: yellow;
  color: black;
}
.greenButton{
  width: 200px;
  height: 40px;
  border: 0;
  border-radius: 15px;
  display: block;
  color: white;
  background-color: green;
}
.addButton,.buy-button{
  width: 200px;
  height: 40px;
  border: 0;
  border-radius: 15px;
  display: block;
  color: black;
  background-color: #FFD814;
}
.trash{
  margin-top: 50px;
}
/* add to cart end here */
/* Products details start here */
.back-button a{
  color: black;
  padding: 20px;
  font-weight:600 ;
}
/* Products details end here */
/* page not found start here */
.container-not-found{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.title-not-found{
  font-weight: 700;
}
.button-not-found{
  padding: 10px 6px;
  text-align: center;
  background-color: yellow;
  border-radius: 14px;
  margin: 20px 5px;
}
a{
  color: black;
  text-decoration: none;
}
/* page not found end here */

